#root {
  filter: drop-shadow(0 0 2em #61dafbaa);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #10c82959;
  border-radius: 5px;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #d9080d;
  animation: rotate 2s linear;
  transition: transform 0.2s;
}

@keyframes h1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputStyle {
  padding: 100px;
}
input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #d9080cb4;
  color: black;
}
.inputStyle input::placeholder {
  color: #0f010d; 
  font-size: 0.9em; 
  font-style: italic;
}

.buttonStyle {
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;

  cursor: pointer;
}
.buttonStyle:hover {
  background-color: #ff6464;
}
p {
  color: rgb(41, 2, 2);
  border-radius: 5px;
  width: 250px;

  text-align: center;
  margin: auto;
}

.result {
  border-radius: 5px;
  padding: 15px;
  white-space: pre-line;
  font-size: 18px;
  font-style: normal;
color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  animation: rotate 2s;
  transition: transform 0.2s;
}
.result.output {
  background-color:#d9080d;
}
.header {
  display: flex;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(1.1) rotate(360deg);
  }
}
